@media (max-width: 1300px) {
  .services .owl-nav .owl-next {
    right: -30px;
  }
  .services .owl-nav .owl-prev {
    left: -25px;
  }
  .our-courses .owl-nav .owl-next {
    right: -30px;
  }
  .our-courses .owl-nav .owl-prev {
    left: -25px;
  }
}

@media (max-width: 1200px) {
  .services .owl-nav .owl-next {
    right: -70px;
  }
  .services .owl-nav .owl-prev {
    left: -65px;
  }
  .our-courses .owl-nav .owl-next {
    right: -70px;
  }
  .our-courses .owl-nav .owl-prev {
    left: -65px;
  }
}

@media (max-width: 1085px) {
  .services .owl-nav .owl-next {
    right: -30px;
  }
  .services .owl-nav .owl-prev {
    left: -25px;
  }
  .our-courses .owl-nav .owl-next {
    right: -30px;
  }
  .our-courses .owl-nav .owl-prev {
    left: -25px;
  }
}

@media (max-width: 1005px) {
  .services .owl-nav .owl-next {
    display: none;
  }
  .services .owl-nav .owl-prev {
    display: none;
  }
  .our-courses .owl-nav .owl-next {
    display: none;
  }
  .our-courses .owl-nav .owl-prev {
    display: none;
  }
}

@media (max-width: 992px) {
  .main-banner .caption {
    top: 60%;
  }

  .main-banner .caption h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .main-banner .caption .main-button-red {
    margin-top: 15px;
  }

  .services {
    margin-top: 60px;
  }

  section.upcoming-meetings {
    padding-top: 70px;
  }

  section.upcoming-meetings .categories {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .accordions {
    margin-left: 0px;
  }

  .new-students {
    margin-top: 15px;
  }

  section.our-facts .video {
    margin-left: 0px;
    margin-top: 15px;
  }

  section.contact-us #contact {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .sub-header .left-content p {
    display: none;
  }

  .sub-header .right-icons {
    text-align: center;
  }

  .main-nav .nav .sub-menu {
    display: none;
  }

  .header-area .main-nav .nav li ul.sub-menu li a {
    color: #1f272b;
  }
}
